.home-presentation {
  background-color: #FFDEAD; /* cor de destaque */
  color: #8B008B	;
  min-height: 100vh; /* ocupa toda a tela */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.presentation-content {
  max-width: 600px;
  font-size: 3rem;
  font-weight: bold;
}


