/* Navbar principal */
.navbar {
  display: flex;
  flex-direction: column; /* Coloca a busca abaixo do topo */
  align-items: center;
  padding: 15px 50px;
  background-color: transparent; /* Mantém fundo do Hero */
  font-family: Arial, sans-serif;
}

/* Linha principal: logo, menu e ícones */
.navbar-top {
  display: flex;
  justify-content: center; /* centraliza o conteúdo horizontalmente */
  align-items: center;
  gap: 200px; /* aproxima ou afasta o logo, menu e ícones */
}


/* Logo */
.navbar .logo img {
  width: 120px;
}

/* Menu de navegação */
.navbar .menu {
  list-style: none;
  display: flex;
  gap: 25px;
}

.navbar .menu li {
  cursor: pointer;
  color: #8B008B;
  font-weight: 500;
  font-weight: bolder;
  font-size: 1.5rem; 
}

.navbar .menu li a {
  text-decoration: none;
  color: #8B008B;
}

.navbar .menu li a:hover {
  color: #6A006A;
}

/* Ícones: Login e Carrinho */
.navbar-icons {
  display: flex;
  align-items: center;
}

.navbar-icons button {
  padding: 5px 10px;
  margin-left: 10px;
  background-color: #8B008B;
  color: #fff;
  border: none;
  cursor: pointer;
}

.navbar-icons button:hover {
  background-color: #6A006A;
}

/* Barra de busca abaixo do menu */
.navbar-search {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  width: 60%;
}

.search-input {
  width: 60%;
  padding: 10px 15px;
  border-radius: 8px 0 0 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.search-btn {
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-left: none;
  background-color: #8B008B;
  color: white;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  font-size: 1rem;
}

.search-btn:hover {
  background-color: #6A006A;
}

.navbar-icons .icon {
  color: #8B008B;       /* mesma cor que os textos do menu */
  margin-left: 15px;
  cursor: pointer;
  transition: transform 0.2s;
}

.navbar-icons .icon:hover {
  transform: scale(1.2); /* efeito de zoom ao passar o mouse */
}
