.newsletter {
  background: linear-gradient(
    180deg,
    #FFE4B5 0%,   /* bege claro */
    #FFD39B 50%,  /* bege médio */
  );
  padding: 3rem 1rem;
  text-align: center;
  border-radius: 12px;
  color: #8B008B; /* mantém o roxo das letras */
}


.newsletter h2 {
  color: #8B008B;
  font-size: 28px;
  margin-bottom: 15px;
}

.newsletter p {
  color: #8B008B;
  margin-bottom: 20px;
}

.newsletter input {
  padding: 10px;
  width: 250px;
  margin-right: 10px;
  border: 1px solid #8B008B;
  border-radius: 4px;
}

.newsletter button {
  padding: 10px 20px;
  background-color: #8B008B;
  color: #fff;
  border: none;
  cursor: pointer;
}

.newsletter button:hover {
  background-color: #6A006A;
}
